<!DOCTYPE html>
<html lang="ca">
<head>
  <meta charset="UTF-8">
  <title>MiniERP</title>
  <link rel="stylesheet" href="/estils.css">
</head>
<body class="tema-clar">
  {{> header}}
  {{> menu}}

  <main class="contenidor">
    {{{body}}}
  </main>

  {{> footer}}

  <script src="/app.js"></script>
</body>
</html>